<% if !@experiment.nil? %>
  <div class="page-header">
    <h1><%= @experiment.name %></h1>
    <p>Created: <%= pretty_time @experiment.created_at %></p>
  </div>
  
  <div class="row">
    <div class="span16">
  
      <% if @experiment.users.length == 0 %>
        <p>This experiment is an orphan!</p>
      <% else %>
        <h2>Owners</h2>
        <ul class="undecorated"></ul>
          <% @experiment.users.each do |user| %>
            <li><a href="/user/<%= user.id %>"><%= user.name %></a></li>
            <% user.inspect %>
          <% end %>
        </ul>
      <% end %>
      
      <hr/>
      
      <h2>Description</h2>
      
      <blockquote>
      <%= @experiment.description || 'no description' %>
      </blockquote>
      
      <% if session[:user_id] %>
        <%= link_tag :to => "/experiment/#{@experiment.id}/delete", :name => 'Delete', :class => 'btn danger' %>
      <% end %>

    </div>
  </div>
<% else %>
  <p>no such experiment <%= params[:id] %></p>
<% end %>
