<div class="page-header">
  <h1><%= @file.name %></h1>
</div>

<div class="row-fluid">
  <div class="span12">
    <p>Created: <%= pretty_time @file.created_at %> by <%= @file.user.name %></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <p>File size: <%=pretty_size @file.size %></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <p>Last Modified: <%= @file.last_modified %></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <p>MD5: <%= @file.mdsum %></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="actions">
      <%= link_tag :to => "/f/#{@file.id}", :name => 'Download', :class => 'btn' %>
    </div>
  </div>
</div>