<div class="page-header">
  <h1><%= @file.name %></h1>
</div>
<p>Created: <%= pretty_time @file.created_at %></p>
<% if !@file.user.nil? %>
  <% file_creator = @file.user %>
  <p>
    Created by: <%= file_creator.name %>  
    (<%= link_tag to: "mailto:" + file_creator.email, name: file_creator.email %>)
  </p>
<% else %>
  <p>This file was created without owner.</p>
<% end %>
<p>File size: <%= @file.size %></p>

<% if !@file.experiment.users.first(:id => @user.id).nil? %>
  <div class="actions">
    <% if session[:user_id] %>
      <%= link_tag :to => "/file/#{@file.id}/edit", :name => 'Edit File', :class => 'btn' %>
      <%= link_tag :to => "/file/#{@file.id}/delete", :name => 'Delete', :class => 'btn danger' %> 
   	<% end %>
  </div>
<% end %>