<div class="page-header">
  <h1>Found <%= @results.length %> results for: "<%= params[:q]%>"</h1>
</div>

<div class='row-fluid'>
  <div class='span12'>
    <% if @results.length > 0 %>
      <table class='table-bordered table-striped table'>
        <tbody>
          <% @results.each_with_index do |result, i| %>
            <tr onClick="document.location.href='<%= result.to_url rescue '/404' %>';" style='cursor:pointer;'>
              <td>
                <%= i +1 %>
              </td>
              <td>
                The <strong><%= result.model.to_s.downcase %></strong> named <strong><%= result.name %></strong>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>