<% user = User.get(session[:user_id]) rescue nil %>
<% path = request.path_info.split('/')[1] %>

<div class="topbar">
  <div class="fill">
    <div class="container">
      
      <a href="/" class="brand">
        Sequences
      </a>
      
      

      <ul class="nav">
        <li class="<%= 'active' if path =~ /^experiment/ %>"><a href="/experiments">Experiments</a></li>
        <li class="<%= 'active' if path =~ /^user/ %>"><a href="/users">Users</a></li>
      </ul>
      
      <ul class="nav secondary-nav">
        <% if !user %>
          <li class="<%= 'active' if path =~ /^session/%>"><a href="/session/new">Login</a></li>
        <% else %>
          <li><a href="/user/<%= user.id %>"><%= user.name %></a></li>
          <li><a href="/session/destroy">logout</a></li>
        <% end %>
      </ul>
        
    </div>
  </div>
</div>