<div class="topbar">
  <div class="fill">
    <div class="container">
      
      <div class="brand">
        Sequences
      </div>
      
      <% path = request.path_info.split('/')[1] %>

      <ul class="nav">
        <li class="<%= 'active ' if path.nil? %>"><a href="/">Home</a></li>
        <li class="<%= 'active' if path =~ /^experiment/ %>"><a href="/experiments">Experiments</a></li>
        <li class="<%= 'active' if path =~ /^user/ %>"><a href="/users">Users</a></li>
      </ul>
      
      <ul class="nav secondary-nav">
        <% if !session[:user_id] %>
          <li class="<%= 'active' if path =~ /^session/%>"><a href="/session/new">Login</a></li>
        <% else %>
          <li><a href="/session"><%= session[:user_id] %></a></li>
          <li><a href="/logout">logout</a></li>
        <% end %>
      </ul>
        
    </div>
  </div>
</div>