<% if @user %>
  <div class="page-header">
  	<h1><%= @user.name %></h1>
  </div>
  
  <div class="row">
    <div class="span16">
      
      <p><a href="http://gravatar.com/emails"><img src="<%= gravatar(:email => @user[:email], :size => 100) %>"></a></p>
      <p><%= link_tag to: "mailto:" + @user.email, name: @user.email %></p>

      <hr/>

      <h2>Experiments:</h2>
      <%= "#{@user.name} has not created any experiments." if @user.experiments.length == 0 %>
      <ul>
        <% @user.experiments.each do |experiment| %>
          <li><a href="/experiment/<%= experiment.id %>"><%= experiment.name %></a></li>
        <% end %>
      </ul>

    </div>
  </div>    
<% else %>
  <div class="row">
    <div class="span16">
    	<p>That user doesn't exist!</p>
    </div>
  </div>
<% end %>
